<%- include('../partials/header') %>

<form  id="new-form" action="/flights/destinations/new" method="POST">
  <input name="airport" value="ex. AUS" required pattern="[A-Z][A-Z][A-Z]\d?">
  <button type="submit">Add Destination</button>
</form>
<% destinations.forEach((d) => { %>
    <p> <%= d.airport %> </p>
<% }) %>

<%- include('../partials/footer') %>