<%- include('../partials/header') %>

<form id="new-form" action="/flights/:id/show" method="POST"></form>
  <input name="seat" required pattern="[A-F][1-9]\d?">
  <input type="number" name="price">
  <button type="submit">Add Ticket</button>
</form>

<%- include('../partials/footer') %>